In [44]:
import pandas as pd

In [48]:
train = pd.read_csv("~/Downloads/train.csv")

In [49]:
def format(dataframe):
    """Given a pandas dataframe, returns a new formatted dataframe.
    
    Args
        dataframe: a pd.DataFrame
    
    Returns
        formatted: an new pd.dataframe displaying the unique values, number of unique values, and data type
        from the dataframe
    """
    formatted = pd.DataFrame(columns = ["Data Name","Unique Values","Number of Unique Values","Data Type"])
    formatted["Data Name"] = dataframe.columns
    i=0
     
    for col_name in dataframe:
      formatted["Unique Values"][i] = dataframe[col_name].unique()  
      formatted["Number of Unique Values"][i] = dataframe[col_name].nunique()
      formatted["Data Type"][i] = dataframe[col_name].dtype
      i += 1
     
    return formatted

In [50]:
all_unique_values(train)

,Data Name,Unique Values,Number of Unique Values,Data Type
0,PassengerId,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",891,int64
1,Survived,"[0, 1]",2,int64
2,Pclass,"[3, 1, 2]",3,int64
3,Name,"[Braund, Mr. Owen Harris, Cumings, Mrs. John B...",891,object
4,Sex,"[male, female]",2,object
5,Age,"[22.0, 38.0, 26.0, 35.0, nan, 54.0, 2.0, 27.0,...",88,float64
6,SibSp,"[1, 0, 3, 4, 2, 5, 8]",7,int64
7,Parch,"[0, 1, 2, 5, 3, 4, 6]",7,int64
8,Ticket,"[A/5 21171, PC 17599, STON/O2. 3101282, 113803...",681,object
9,Fare,"[7.25, 71.2833, 7.925, 53.1, 8.05, 8.4583, 51....",248,float64
10,Cabin,"[nan, C85, C123, E46, G6, C103, D56, A6, C23 C...",147,object
11,Embarked,"[S, C, Q, nan]",3,object

Problems found in the data:
- PassengerID is an index column, therefore an unnecessary column.
- Survived is the answer we're trying to solve for, therefore an unnecessary column.
- Pclass, SibSp, and Parch have ambiguous values. 
- Name has too many unique values.
- Sex and Embarked don't use numerical values.
- Age has dirty data.
- Ticket and Cabin has too many unique values, values are alphanumeric.

Objectives:
- Delete PassengerID and Survived columns
- Use binary features for the values in Pclass, Sex, SibSp, Parch, and Embarked
- Clean up the data in Age
- Figure out how to manipulate the Ticket and Cabin data into simpler values
- Determine whether names should be used as valid data